<h1>All voting topics</h1>

<ul>
  <% @topics.each do |t| %>
    <li>
      <%= t.title %>
      <%= link_to "[x]", topic_path(t), method: :delete %>
    </li>
  <% end %>
</ul>

<%= form_for :topic do |f| %>
  <%= f.text_field :title %>
<% end %>
